<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Frank Sullivan">
  
  <title>Find Something Fun in SELA</title>
  <link rel="stylesheet" href="app/css/bootstrap.css">
  <link rel="stylesheet" href="app/css/app.css">
  <script type='text/javascript' src="//code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js'></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <script src="app/js/controllers.js"></script>
  <script src="app/js/app.js"></script>
</head>
<body>
<div ng-controller="EventListCtrl">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        Search: <input ng-model="query">       
        Neighborhood:
      		<select ng-model="selectedItem" ng-options="i.dist for i in model" value="{{selectedItem.id}}">
      		</select>		
        <ul class="events">
          <li ng-repeat="event in events2 | filter:selectedItem.dist | filter:query">
            {{event.act}}
            <p>{{event.venue}}, {{event.dist}}</p>
            <p>{{event.time}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> 
</body>
</html>
