<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Frank Sullivan">
  
  <title>Find Something Fun in SELA</title>
  <link rel="stylesheet" href="app/css/bootstrap.css">
  <link rel="stylesheet" href="app/css/app.css">
  <script type='text/javascript' src="//code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js'></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <script src="app/js/controllers.js"></script>
</head>
<body>
<div ng-controller="EventListCtrl">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        Search: <input ng-model="query">
        Neighborhood: 
        <select ng-model="orderProp">
        	<option value = "Frenchman">Frenchman St.</option>
        	<option value = "French Qtr">Frenchman Qtr</option>
        	<option value = "Northshore">Covington</option>
        </select>
        <ul class="events">
          <li ng-repeat="event in events3 | filter:query | orderBy: orderProp">
            {{event.act}}
            <p>{{event.venue}}, {{event.hood}}</p>
            <p>{{event.fulldate}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>  
 
<div class="container-fluid">
	<div ng-controller="Gambit">
		 <div class="row-fluid">
		 	<h2>Gambit Weekly Music Feed</h2>
            <ul class="events">
                <li ng-repeat="feed in gambit">                    
                    <h5><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></h5>                                        
                    <p class="text-left">{{feed.contentSnippet}}</p>                    
                    <span class="small">{{feed.publishedDate}}</span>
                </li>                
            </ul>            
        </div>
	</div>

	<div ng-controller="NewWWL">
		<h2>WWL Events Feed</h2>
		 <div class="row-fluid">
            <ul class="events">
                <li ng-repeat="feed in wwl">                    
                    <h5><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></h5>                                        
                    <p class="text-left">{{feed.contentSnippet}}</p>                    
                    <span class="small">{{feed.publishedDate}}</span>
                </li>                
            </ul>            
        </div>
	</div>	
</div>
</body>
</html>
